coverage
dist
node_modules
package-lock.json
yarn.lock
*.log
.*
!.babelrc
!.dockerignore
!docker-compose.yml
!Dockerfile
!.editorconfig
!.env.example
!.eslintrc.js
!.eslintignore
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.npmignore
!.storybook
!.npmrc
!.prettierignore
!.prettierrc.js
!.stylelintignore
!.stylelintrc.json
!.travis.yml
!.versionrc